<div class="about-container">
  <h1>About Countries</h1>
  
  <p>Welcome to the Countries app! This app is designed to provide comprehensive information about countries around the world.</p>

  <h2>Technologies Used</h2>
  <ul>
    <li>Angular</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>TypeScript</li>
  </ul>

  <h2>Features</h2>
  <ul>
    <li>Detailed country information</li>
    <li>Search functionality</li>
    <li>Filtering by region and population</li>
  </ul>

  <h2>Data Source</h2>
  <p>The country data is fetched from the REST Countries API, which offers a wealth of information about countries worldwide. Visit the <a href="https://restcountries.com/">REST Countries website</a> for more details.</p>

  <h2>Credits</h2>
  <p>Countries App was developed by Aaqib J. Khan.</p>

  <h2>Contact</h2>
  <p>For any inquiries or feedback, please email <a href="mailto:aaqibjkhan20@gmail.com">aaqibjkhan20&#64;gmail.com</a>.</p>
</div>
