.country-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  text-align: center;
  padding: 15px;
  height: 240px;
  transition: transform 0.3s ease; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.country-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.flag-container {
  width: 100%; 
  height: 66.67%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-img {
  width: 180px; 
  height: 100%; 
  object-fit: contain; 
}

.country-info {
  height: 33.33%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-name {
  font-weight: bold;
  margin-top: 5px; 
}

.region {
  color: #666;
  margin-top: 5px;
}

.search-filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.search-filter-container input[type="text"] {
  flex: 2;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 20px; 
  transition: border-color 0.3s ease;
}

.search-filter-container select.filter-dropdown {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  margin-right: 20px;
}

.search-filter-container input[type="text"]:focus,
.search-filter-container select.filter-dropdown:focus {
  outline: none;
  border-color: #007bff; 
}

.container {
  padding: 20px; 
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 20px; 
  justify-content: center; 
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.loading-text {
  margin-top: 180px; 
  font-size: 17px;
}

.loading-spinner {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
