.country-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  text-align: center;
  padding: 15px; /* Decrease padding to make the card shorter */
  height: 240px; /* Decrease height of the card */
  transition: transform 0.3s ease; /* Add transition for smoother effect */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.country-card:hover {
  transform: translateY(-5px); /* Move the card up slightly on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow intensity on hover */
}

.flag-container {
  width: 100%; /* Ensure the flag container takes up full width */
  height: 66.67%; /* Set height for the flag portion (2/3 of the card) */
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-img {
  width: 180px; /* Set a slightly larger fixed width for the flag images */
  height: 100%; /* Fill the entire height of the flag container */
  object-fit: contain; /* Maintain aspect ratio without cropping */
}

.country-info {
  height: 33.33%; /* Set height for the country info portion (1/3 of the card) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-name {
  font-weight: bold;
  margin-top: 5px; /* Adjust margin for better spacing */
}

.region {
  color: #666;
  margin-top: 5px; /* Adjust margin for better spacing */
}

.search-filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.search-filter-container input[type="text"] {
  flex: 2;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 20px; 
  transition: border-color 0.3s ease;
}

.search-filter-container select.filter-dropdown {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  margin-right: 20px;
}

.search-filter-container input[type="text"]:focus,
.search-filter-container select.filter-dropdown:focus {
  outline: none;
  border-color: #007bff; 
}

.container {
  padding: 20px; /* Add padding for spacing between cards */
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Set minimum card width */
  gap: 20px; /* Adjust gap between cards */
  justify-content: center; /* Center cards horizontally */
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.loading-text {
  margin-top: 180px; 
  font-size: 17px;
}

.loading-spinner {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
