<div class="search-filter-container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search by country name" (input)="search()">
  <select class="filter-dropdown" (change)="onRegionChange($event)">
    <option value="" selected>Filter by Region</option>
    <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
  </select>
  <select class="filter-dropdown" (change)="onPopulationRangeChange($event)">
    <option value="" selected>Filter by Population Range</option>
    <option value="small">Small (less than 1 million)</option>
    <option value="medium">Medium (1 million to 10 million)</option>
    <option value="large">Large (more than 10 million)</option>
  </select>
</div>

<div *ngIf="loading" class="loading-container">
  <mat-progress-spinner *ngIf="loading" mode="indeterminate" class="loading-spinner"></mat-progress-spinner>
  <p class="loading-text">{{loadingText}}</p>
</div>

<div class="container responsive-grid">
  <mat-card *ngFor="let country of pagedCountries" (click)="openCountryDetail(country.cca3)" class="country-card">
    <div class="flag-container">
      <img mat-card-image src="{{ country.flags.svg }}" *ngIf="country.flags.svg" class="flag-img" />
    </div>
    <mat-card-content class="country-info">
      <p class="country-name">{{ country.name.common }}</p>
      <p class="region">{{ country.region }}</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="paginator">
  <mat-paginator [length]="totalItems" [pageSizeOptions]="pageSizeOptions" 
    (page)="onPageChange($event)" (pageSizeChange)="pageSizeChanged()">
  </mat-paginator>
</div>
